<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Maryclare Griffin</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Maryclare Griffin</h1>
        
        
        <img src="https://maryclare.github.io/content/pic.jpg">
        
        <p>Assistant Professor <br> University of Massachusetts Amherst <br> Department of Mathematics and Statistics <br> <br> maryclaregri@umass.edu <br></p>
    
        
          <ul>
           <li><a href="https://maryclare.github.io/index.html">Home</a></li>
           <li><a href="https://scholar.google.com/citations?user=nKwcNDQAAAAJ">Research</a></li>
           <li><a href="https://maryclare.github.io/content/cv.pdf">CV</a></li>
           <li><a href="https://maryclare.github.io/content/lab.html">Lab</a></li>
           <li><a href="https://maryclare.github.io/content/misc.html"></a>Misc.</li>
         </ul>
        
        <br>
        <br>
        
      </header>
      
      <section>
        {{ content }}
      </section>

      <footer>
        
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>
